BasedOnStyle: Microsoft
IndentWidth: 4
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: All

# Template formatting
AlwaysBreakTemplateDeclarations: Yes
BreakTemplateDeclarations: Yes